 /* Reset Styles */
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

.col-xs-12 {
    padding-bottom: 40px;
}

.col-xs-12.col-md-4 p {
    width: 90%;
}

a:link, a:visited {
    color: white;
    margin: 10px;
    text-decoration: none !important;
}

a:hover, a:active {
    color: #eee;
    text-decoration: none !important;
}
/* End Reset Styles */

body {
    font-family: "Open Sans";
}

header {
    background-image: url('../images/earth.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    text-align: center;
    font-weight: lighter;
} /* Format image, center text */


nav {
    height: 75px;
    line-height: 75px;
}

h1 {
    color: white;
    margin-top: 70px;
}

h3 {
    color: #d8d8d8;
    font-size: 14px;
}

.go {  /* . for class, # for id */
    color: white;
    font-size: 16px;
    background-color: #e54231;
    padding: 10px 40px 10px 40px;
    border-radius: 3px;
    line-height: 90px;
}

.row {
    color: #252527;
    padding: 50px 0 50px 0;
    border-bottom: 1px solid #f1f1f1; /* width, type, color*/
    text-align: center;
}

p {
    width: 90%;             /* good for scaling down*/
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

.icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
}

#lightning {
    background-image: url("../images/lightning.png");
}

#cloud {
    background-image: url("../images/cloud.png");
}

#people {
    background-image: url("../images/people.png");
}




